<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/about.css">
</head>
<body>
<a href="/" class="m-5 d-inline-block" style="color: #007B5E"><h3>Գլխավոր էջ</h3></a>
<h3 class=" text-center d-inline-block" style="color: #007B5E;margin-left: 350px;" >Մեր մասին</h3>
    <p class="jumbotron m-3 text-justify">   «Info.am»-ը իրենից ներկայացնում է տեղեկատվական կայք , որը կայունորեն իրականացնում է Հայաստանի կազմակերպությունների մասին տեղեկությունների հավաքում, մշակում և անվճար տարածում։
        «Info.am»-ում կազմակերպությունները կարող են գրանցվել անվճար:
        Կազմակերպությունների մասին տեղեկությունները ներկայացվում են հետևյալ ծավալով՝ կազմակերպության անվանում, կազմակերպաիրավական ձև (ՍՊԸ, ՓԲԸ, ...),ղեկավար (անուն, հայրանուն, ազգանուն և պաշտոն), հասցե (հասցեի անուն, երկիր, փոստային ինդեքս, մարզ/շրջան, բնակավայր, թաղամաս, փողոց, շենք/տուն, հարկ/սենյակ/բնակարան, նշումներ դիրքի մասին, վարչական շրջան/տարածաշրջան), դիրքը քարտեզի վրա, աշխատանքային օրեր, աշխատանքային ժամեր, հեռախոս (բաժին/պաշտոն, բաժնի/պաշտոնի աշխատանքային ժամեր, հեռախոսահամար), այլ հեռախոսակապ (Viber, Zangi, WhatsApp), էլ. փոստ (բաժին/պաշտոն, էլ. փոստի հասցե), կապի այլ միջոցներ, ապրանքանիշեր, բրենդներ,լոգոտիպ և այլն:
    </p>

    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <!------ Include the above in your HEAD tag ---------->

<!-- Footer -->
<section  id="footer">
    <div class="container">
        <div class="row text-center text-xs-center text-sm-left text-md-left">
            <div class="col-xs-12 col-sm-4 col-md-4">
                <h5>Բաժիններ</h5>
                <ul class="list-unstyled quick-links">
                    <li><a href="/hotel"><i class="fa fa-angle-double-right"></i>Հյուրանոց</a></li>
                    <li><a href="/cafe"><i class="fa fa-angle-double-right"></i>Սրճարան</a></li>
                    <li><a href="/education"><i class="fa fa-angle-double-right"></i>Կրթություն</a></li>
                    <li><a href="/sport"><i class="fa fa-angle-double-right"></i>Սպորտ</a></li>
                    <li><a href="/print"><i class="fa fa-angle-double-right"></i>Տպագրություն</a></li>
                </ul>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-4">
                <h5>Բաժիններ</h5>
                <ul class="list-unstyled quick-links">
                    <li><a href="/restaurant"><i class="fa fa-angle-double-right"></i>Ռեստորան</a></li>
                    <li><a href="/bank"><i class="fa fa-angle-double-right"></i>Բանկ</a></li>
                    <li><a href="/beauty-salon"><i class="fa fa-angle-double-right"></i>Գեղեցկության սրահ</a></li>
                    <li><a href="/pc"><i class="fa fa-angle-double-right"></i>Համակարգիչ</a></li>
                    <li><a href="/taxi"><i class="fa fa-angle-double-right"></i>Տաքսի</a></li>
                </ul>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-4">
                <h5>Բաժիններ</h5>
                <ul class="list-unstyled quick-links">
                    <li><a href="/pharmacy"><i class="fa fa-angle-double-right"></i>Դեղատուն</a></li>
                    <li><a href="/entertainment"><i class="fa fa-angle-double-right"></i>Ժամանց</a></li>
                    <li><a href="/tourism"><i class="fa fa-angle-double-right"></i>Զբոսաշրջություն</a></li>
                    <li><a href="/transportation"><i class="fa fa-angle-double-right"></i> Բեռնափոխադրում</a></li>
                    <li><a href="/realty" title="Design and developed by"><i class="fa fa-angle-double-right"></i> Անշարճ գույք</a></li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-5">
                <ul class="list-unstyled list-inline social text-center">
                    <li class="list-inline-item"><a href="/"><i class="fa fa-facebook"></i></a></li>
                    <li class="list-inline-item"><a href="/"><i class="fa fa-twitter"></i></a></li>
                    <li class="list-inline-item"><a href="/"><i class="fa fa-instagram"></i></a></li>
                    <li class="list-inline-item"><a href="/"><i class="fa fa-google-plus"></i></a></li>
                    <li class="list-inline-item"><a href="/" target="_blank"><i class="fa fa-envelope"></i></a></li>
                </ul>
            </div>
            </hr>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-2 text-center text-white">
                <p>«Info.am» տեղեկատվական կայք է, որը կայունորեն իրականացնում է Հայաստանի կազմակերպությունների մասին տեղեկությունների հավաքում, մշակում և անվճար տարածում։</p>
                <p class="h6">&copy Բոլոր իրավունքները պաշտպանված են.<a class="text-green ml-2" href="/" target="_blank">«Info.am»</a></p>
            </div>
            </hr>
        </div>
    </div>
</section>
<!-- ./Footer -->
</body>
</html>